<div class="container">  
  <%= image_tag "FarmWorkers.jpg", :style => "float: right" %>
  
  <h1>Farm Worker App</h1>
  <p>Welcome to the Farm Worker App!</p>
  <p>The Farmworker Family health program is centered on providing free healthcare to farmworkers and their families in South Georgia. The emphasis of this application is to help better document these services in South Georgia.</p>
  <p>One of the main challenges this program faces is the fact that the majority of the work and documentation 
has been primarily gathered and summarized manually. The current process does not lend itself to future 
expansion of the Farm Worker program. The primary goal is to reduce the amount of work required to gather the necessary patient information while helping to validate and summarize this information in an automated fashion.</p> 
  
  
  
  <br><br>
  <p><u><b>Group Contact</b></u></p>
  <ul>
  <li> Briam Fachisthers - briam@gatech.edu</li>
  <li> An Pham - an.pham@gatech.edu</li>
  <li> Jackson Chan - jchan33@gatech.edu</li>
</ul>
  <p><u><b>Program Contact</b></u></p>
  <ul>
  <li>Elizabeth Downes - edownes@emory.edu</li>
</ul>
  <a href="http://med.emory.edu/pa/about_us/community_service/farm_worker/index.html">Emory Farm Worker Project</p>
  <a href="https://github.com/Anphamthanh/FarmWorker">FarmWorker GitHub</a>
</div>
<script>
  $("#home").addClass("active");
</script>