      <div class="form-group row col-md-12">
        <div class="col-md-12"> 
          <button type="submit" class="btn btn-success">Save &amp; Next</button>
          <button type="button" class="btn btn-danger pull-right exit">Exit</button>
        </div>
      </div>